.env
test.py
back-end.zip
Front-End.zip
Back_end.zip
FRONT_END.zip
OLD.zip
backend.zip
FINAL_VERIFICATION_REPORT.zip
FINAL_VERIFICATION_REPORT (2).zip
FINAL.zip
whatsapp-service.zip
FULL.zip
whatsapp-service/server_OLD
schemas.zip
FRONT_END_V1.zip
BACK_END_V1.zip
BACK_END_V1_1.zip
whatsapp-service/server_OLD.js
BACK_END_V1_2.zip
BACKENDV1_3.zip
Back_end_v15.zip
Front_end_v15.zip
