[Unit]
Description=MIA GPU Miner Service
After=network.target

[Service]
Type=simple
User=$USER
WorkingDirectory=/home/$USER
Environment="MINER_ID=1"
ExecStart=/usr/bin/python3 /home/charles-drapeau/Documents/Project/MIA_project/Restaurant/BackEnd/mia_gpu_miner_improved.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Restart conditions
RestartPreventExitStatus=0
StartLimitIntervalSec=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target