fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
openai>=1.0.0
pinecone
pydantic
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
python-multipart
pydantic[email]
slowapi
requests
pydub
fastapi[websockets]
websockets
numpy