fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
python-multipart
pydantic[email]
slowapi
requests
pydub
fastapi[websockets]
websockets
numpy==1.26.4
redis==5.0.1
pgvector==0.2.5
psycopg2-binary>=2.9.0